<!DOCTYPE html>

{% load staticfiles %}

<html>
<head> <title>Rango</title>
</head>
<body>

	<h1>Rnago says...</h1>
	<div>hey there partner!</div>

	<div>
		{% if categories %}
		<ul>
			{% for category in categories %}	
				<li>{{ category.name }}</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are not categories present.</strong>
		{% endif %}
	</div>

	<div>
		<a href="/rango/about/">About Rango</a><br/>
		<img src="{% static 'photo.jpg' %}" alt="A picture of eggs">
	</div>
</body> 

</html>